<div class="theme-services">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 first-col wow fadeInLeftBig">
			%%TITLE%%
			%%CONTENT%%
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 second-col wow fadeInRightBig">
			%%IMAGE%%
			<div class="features-circle"><div class="vertical-align-wrap"><div class="vertical-align">%%FEATURES%%</div></div></div>
		</div>
	</div>
</div>