%%AVATAR container_class="author-bio_avatar alignleft"%%
<section class="author-bio_descr">
	<strong class="author-bio_author"><?php printf( __( 'Written by %s', 'child-theme-domain' ), '%%AUTHOR_POSTS_LINK%%' ); ?></strong>
	<small>%%AUTHOR_META field="description"%%</small>
</section>