%%TITLE where="loop"%%

%%THUMBNAIL size="cherry-thumb-l"%%

%%CONTENT%%
%%BUTTON where="loop"%%

<div class="entry-meta entry-meta-bottom">
	%%DATE%%
	<?php printf( __( 'BY %s', 'child-theme-domain' ), '%%AUTHOR%%' ); ?>
	<?php printf( __( 'IN %s', 'child-theme-domain' ), '%%TAXONOMY name="category"%%' ); ?>
	%%COMMENTS%%
	%%TAXONOMY name="post_tag"%%
</div>