<div class="inner-wrap">
	<figure class="post-thumbnail">%%IMAGE%%</figure>
	<div class="item-content">
		<div class="item-content-inner">
			<h6  class="white-color">%%TITLE%%</h6>
			<small class="white-color"><strong>%%DATE%%</strong></small>
		</div>
	</div>
</div>