<div class="content">
	<h4>
		%%EXCERPT%%
		%%CONTENT%%
	</h4>
</div>
<div class="meta">
	%%TESTINAME%%, %%TESTIPOSITION%% <?php _e( 'of', 'child-theme-domain' ); ?> <span class="company">%%TESTICOMPANY%%</span>
</div>