<div class="cherry-portfolio-single-post cherry-portfolio-image-post">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			%%IMAGE%%
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="post-content">
				<h4 class="post-title">%%TITLE%%</h4>
				<div class="post-meta-container">
					<div class="post-meta-client">%%CLIENT%%</div>
					<div class="post-meta-date">%%DATE%%</div>
					<div class="post-meta-info">%%INFO%%</div>
					<div class="post-meta-taxonomy-list">%%TAXONOMY="tag"%%</div>
					<div class="post-meta-extenallink">%%EXTERNALLINK%%</div>
				</div>
				
				%%CONTENT%%
				
				<div class="post-navigation">
					<span class="prev">%%PREVLINK%%</span><span class="next">%%NEXTLINK%%</span>
				</div>
			</div>
		</div>
	</div>
</div>