<div class="inner-wrap">
	<div class="media-content">
		%%IMAGE%%
	</div>
	<div class="item-content rollover-content">
		<div class="item-content-inner">
			<h6 class="white-color">—</h6>
			<h6><a href="%%URL%%" class="white-color">%%TITLE%%</a></h6>
			<div><small class="white-color">%%CONTENT="25"%%</small></div>
		</div>
	</div>
</div>