<div class="inner-wrap">
	<div class="media-content">
		%%IMAGE%%
	<div class="rollover-content">
		<div class="table-display">
			<div class="links-container table-cell">%%ZOOMLINK%%</div>
		</div>
	</div>
	</div>
	<div class="item-content">
		<h6>—</h6>
		<h6><a href="%%URL%%">%%TITLE%%</a></h6>
		%%CONTENT="25"%%
	</div>
</div>